@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background-color: #cafdff;
}
.logo {
  width: 300px;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
  padding-left: 16px;
}
a {
  color: black;
  font-size: 34px;
  font-weight: 700;

}
.row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  margin: 0 auto
}
header {
  background-color: #eadcff;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}
h1 {
  font-size: 72px;
}
.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}
button {
  background-color: #05c7cf;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
}
/*

ABOUT

*/

#about {
  background-color: rgb(255, 250, 201);
  padding: 48px 0;
}
h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px
}
.section__description--wrapper {
  width: 60%;
  margin-right: 20px;
}
.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}
.about__img--wrapper {
  width: 40%;
}
img {
  width: 100%;
}
/*

DISCORD

*/
 #discord {
    background-color: #cefeff;
    padding-top: 48px;
    padding-bottom: 20px
 }
.discord__img--wrapper {
    width: 40%;
}

/*

CONTACT

*/

#contact {
    background-color: #dce9ff;
    padding-top: 40px;
    padding-bottom: 20px;
}
form{
    width:100%;
    max-width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto
}
.h2contact{
    margin-bottom: 0px
}
input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
}
/*

FOOTER

*/
footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo {
    max-width: 480px;
    margin: 30px;
    margin-top: 50px
}
.footer__copyright {
    margin: 20px 0 40px 0
}
.footer__link {
    font-size: 25px;
    padding: 0 16px;
}